body {
	/* background-color: blue; */
}

p {
	font-size: 1rem;
}

h2 {
	font-size: 1.5rem;
	color: #0eb3a9;
}

h3 {
	font-size: 1rem;
	color: #0eb3a9;
}

/* First section */
.first_section {
	/* background-color: black; */
}
.rounded {
	background-color: #0eb3a9;
	padding: 10px;
	border-radius: 40px;
	margin-inline: 20px;
	margin-block: 15px;
}
.rounded_inner {
	/* margin-top: 20px; */
	background-color: #0eb3a9;
	color: white;
	border-radius: 40px;
	padding-block: 10px;
	padding-inline-start: 100px;
	padding-inline-end: 20px;
	border: 2px solid white;
}

/* Performance section */
.performance {
	display: flex;
	gap: 20px;
}
.performance_left {
	background-color: #a2a0a0;
	flex: 1;
	padding: 10px;
}

.performance_right {
	background-color: #a2a0a0;
	flex: 1;
	padding: 10px;
}
.performance_icon_text {
	display: flex;
}

/* Image Section */
.image_section {
	display: flex;
	justify-content: space-between;
}
.image_section_detail {
	background-color: #0eb3a9;
	padding: 10px;
}

.image_section_text {
	display: flex;
	align-items: center;
}
.image_section_text_number {
	font-size: 3rem;
}

/* Market Info */
.market_info {
	background-color: #e7eeee;
	/* opacity: 0.1; */
	padding-block: 10px;
	border-radius: 15px;
	margin-block: 20px;
}
.market_info_section {
	display: flex;
	padding-inline: 15px;
	justify-content: space-between;
	/* justify-content: center; */
}

.market_info_section_detail {
	width: 30%;
}

/* Stock Market Group */
.stock_market_grid {
	display: flex;
	gap: 10px;
	width: 100%;
	flex-wrap: wrap;
	justify-content: center;
}

.stock_market {
	display: flex;
	gap: 10px;
	width: 48%;
	align-items: center;
}
.stock_market_text {
	width: 50%;
}

.stock_market_box {
	background-color: #d9d9d9;
	width: 50%;
	height: 200px;
}

.stock_market_dot_text {
	display: flex;
	gap: 10px;
	align-items: center;
}

.stock_market_dot {
	display: flex;
	background-color: #0eb3a9;
	height: 20px;
	width: 20px;
	border-radius: 50%;
}
