body {
	/* background-color: blue; */
	margin: 0;
}

p {
	font-size: 0.9em;
	font-family: "Inter", sans-serif;
	font-weight: 500;
}

h2 {
	font-size: 1.2rem;
	color: #0eb3a9;
	font-family: "Inter", sans-serif;
	margin: 0;
}

h3 {
	font-size: 1rem;
	color: #0eb3a9;
	font-family: "Inter", sans-serif;
}

/* First section */
.first_section {
	/* background-color: black; */
}
.rounded {
	background-color: #0eb3a9;
	padding: 5px;
	border-radius: 30px;
	margin-bottom: 10px;
}
.rounded_inner {
	background-color: #0eb3a9;
	color: white;
	border-radius: 30px;
	border: 2px solid white;
	padding-inline: 10px;
}

.bell_rounded {
	background-color: #0eb3a9;
	border-radius: 50%;
	height: 100px;
	width: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: -0.5em;
	margin-top: -4em;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.7);
	position: relative;
	/* float: left; */
	/* left: 10px; */
	right: 30px;
	/* bottom: -40px; */
	margin-right: -20px;
	/* margin-left: 10px; */
}
.bell_rounded_inner {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	background-color: #0eb3a9;
	width: 90px;
	height: 90px;
	border: 0.92px solid white;
	/* padding: 10px; */
}

.finance_rounded {
	background-color: #0eb3a9;
	border-radius: 50%;
	height: 100px;
	width: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: -0.5em;
	margin-top: -3em;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.7);
	position: relative;
	float: right;

	/* left: 700px; */
	/* right: 50px; */
}
.finance_rounded_inner {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	background-color: #0eb3a9;
	width: 90px;
	height: 90px;
	border: 0.92px solid white;
	/* padding: 10px; */
}

.user_rounded {
	background-color: #0eb3a9;
	border-radius: 50%;
	height: 70px;
	width: 70px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: -0.5em;
	margin-top: -2em;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.7);
}
.user_rounded_inner {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	background-color: #0eb3a9;
	width: 60px;
	height: 60px;
	border: 0.92px solid white;
}

/* Performance section */
.performance {
	display: flex;
	gap: 10px;
}
.performance_left {
	background-color: #1e1e1e0a;
	flex: 1;
	padding: 10px;
	border-radius: 20px;
}

.performance_right {
	background-color: #1e1e1e0a;
	flex: 1;
	padding: 10px;
	border-radius: 20px;
}
.performance_icon {
	width: 40px;
	height: 40px;
}
.performance_icon_group {
	display: flex;
	gap: 10px;
	align-items: start;
	/* justify-content: first baseline; */
}

/* Image Section */
.image_section {
	display: flex;
	gap: 10px;
	justify-content: space-between;
}
.image_section_detail {
	background-color: #0eb3a9;
	padding: 10px;
	flex: 1;
	border-radius: 20px;
}

.image_section_text {
	display: flex;
	gap: 2px;
	align-items: center;
}
.image_section_text_number {
	font-size: 3.625rem;
	font-family: "News Cycle", sans-serif;
	font-weight: bold;
	line-height: 1px;
	margin: 0;
	/* margin-top: 50px; */
}

.image_section_text_heading {
	color: white;
	font-weight: bold;
	font-family: "Inter", sans-serif;
	font-size: 0.9em;
}
.image_section_text_heading-text {
	font-family: "Inter", sans-serif;
	font-size: 0.6em;
	font-weight: 500;
	color: white;
	margin-top: -1em;
}

/* Market Info */
.market_info {
	background-color: rgba(14, 179, 168, 0.11);
	/* opacity: 0.1; */
	padding-block: 20px;
	border-radius: 15px;
	margin-block: 30px;
}
.market_info_section {
	display: flex;
	gap: 15px;
	padding-inline: 15px;
	padding-block: 25px;
	justify-content: space-between;
	/* justify-content: center; */
}

.market_info_section_detail {
	/* width: 30%; */
	flex: 1;
}

.market_info_market_dot_heading {
	display: flex;
	gap: 10px;
	align-items: center;
	margin-bottom: -20px;
}

.market_info_image {
	width: 40px;
	height: 40px;
}

/* Stock Market Group */
.stock_market_grid {
	display: flex;
	gap: 10px;
	width: 100%;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.stock_market {
	display: flex;
	gap: 10px;
	width: 49%;
	align-items: end;
	/* margin-bottom: 20px; */
}
.stock_market_text {
	width: 50%;
}

.stock_market_box {
	background-color: #d9d9d9;
	width: 50%;
	height: 160px;
}

.stock_market_dot_heading {
	display: flex;
	gap: 10px;
	align-items: center;
	margin-bottom: -25px;
}

.stock_market_dot {
	display: flex;
	background-color: #0eb3a9;
	height: 20px;
	width: 20px;
	border-radius: 50%;
}
.stock_market_dot_text {
	font-size: 0.67rem;
	margin-top: 15px;
}
